.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.container-scroll {
  /* display: flex; */
  overflow: auto;
  outline: 1px dashed lightgray;
  flex: none;
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
  background-color: rgb(167, 237, 167);
  /* border: 3px solid black; */

}


.test{
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  border: 3px solid black;
  line-height: 256px;
  font-size: 128px;
  width: 100vw;
  height: 100vh;
}



